/* Global styles */
body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
 
  padding: 40px;
}

/* Title */
.site-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight:bolder;	
  margin-bottom: 40px;
}

/* Body content */
.content {
  max-width: 800px;
  margin: 0 auto 40px auto;
  text-align: left;

}

.content p {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: white;
  	a:link{
		color:aqua; /*Unvisited link color*/
	}
	a:hover{
		color:greens; /*Color upon mouse hovering*/
	}
	a:active{
		color:yellowgreen; /*Once Clicked*/
	}
}

/* Links container */
.links {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  gap: 20px;
}

/* Shared link behavior */
.links a:hover {
  text-decoration: underline;
}
